<div class="details">
  <div class="game-banner">
    <img class="game-banner-img" [src]="game.background_image" />
  </div>
  <div class="game-content">
    <div class="details-wrapper">
      <div class="game-header">
        <h1 class="game-header-title">{{ game.name }}</h1>
        <h2 class="game-header-release-date">
          Release: {{ game.released | date }}
        </h2>
        <p class="game-header-genres">
          <!-- last for not desplaying comma -->
          <span *ngFor="let genre of game.genres; let last = last"
            >{{ genre.name }}<span *ngIf="!last">, </span></span
          >
        </p>
        <div class="rating" >
          <span>Game Rating: {{ game.rating }}</span>
        </div>
      </div>
    </div>

    <div class="screenshots">
      <div *ngFor="let screenshot of game.screenshots">
        <img [src]="screenshot.image" />
      </div>
    </div>
  </div>
</div>
